:root {
  --white-text-color: #FFFFFF;
  --black-text-color: #333333;
  --hero-bg-mask-color: rgba(0, 0, 0, 0.4);
  --green-text-color: #28A745;
  --green-btn-color: #28A745;
  --green-bg-color: #28A745;
  --blue-bg-color: #0284D0;
  --contact-bg-color: #F4F4F4;
  --contact-form-bg-color: #FFFFFF;
  --contact-form-text-color: #808080;
  --contact-form-border-color: #F5F5F5;
  --footer-bg-color:#333333;
}

* {
  scroll-behavior: smooth;
}

body {
  font: 100% "Open Sans", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

code {
  font-family: source-code-pro, "Open Sans", monospace;
}

ul, ol, a {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

.container {
  padding: 0 20px;
  width: 100%;
  min-width: 320px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .container .container {
    width: 768px;
  }
}
@media screen and (min-width: 1360px) {
  .container .container {
    width: 1360px;
  }
}

.header__container {
  background-color: var(--hero-bg-mask-color);
  height: 120px;
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  flex-direction: column;
}

.header-nav__list {
  display: flex;
  text-decoration: none;
}

.header-nav__item {
  font-size: 16px;
  line-height: 1.37em;
  font-weight: 400;
  margin-right: 12px;
  color: var(--white-text-color);
  text-decoration: none;
}
.header-nav__item:last-child {
  margin-right: 0;
}
.header-nav__item:hover, .header-nav__item:focus, .header-nav__item:visited {
  color: var(--white-text-color);
}

.header-nav__link {
  text-decoration: none;
  color: var(--white-text-color);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 38px;
  margin-bottom: 16px;
}

.logo__img {
  width: 40px;
  height: 35px;
  margin-right: 8px;
}

.logo-green {
  font-size: 28px;
  line-height: 1.28em;
  font-weight: 400;
  color: var(--green-text-color);
  margin-right: 8px;
}

.logo-white {
  font-size: 28px;
  line-height: 1.28em;
  font-weight: 400;
  color: var(--white-text-color);
}

.hero__container {
  background-color: var(--hero-bg-mask-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 533px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  font-size: 40px;
  line-height: 1.35em;
  font-weight: 600;
  color: var(--white-text-color);
  margin-bottom: 16px;
  text-align: center;
}

.hero__subtitle {
  font-size: 26px;
  line-height: 1.23em;
  font-weight: 400;
  color: var(--white-text-color);
  margin-bottom: 24px;
  text-align: center;
}

.hero__btn {
  width: 175px;
  height: 57px;
  border-radius: 5px;
  background: var(--green-btn-color);
  color: var(--white-text-color);
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  outline: none;
  border: transparent;
}

.hero-btn__text {
  font-size: 18px;
  line-height: 1.38em;
  font-weight: 400;
  color: var(--white-text-color);
}

.hero-btn__img {
  width: 9px;
  height: 18px;
  margin-right: 8px;
  color: var(--white-text-color);
}

.about__img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin-bottom: 0;
  display: inline-block;
}

.about__container {
  background: var(--green-bg-color);
  color: var(--white-text-color);
  padding: 79px 0;
}

.about__description {
  font-size: 16px;
  line-height: 1.37;
  font-weight: 400;
  color: var(--white-text-color);
  margin-bottom: 16px;
}

.about__title {
  font-size: 32px;
  line-height: 1.37;
  font-weight: 400;
  color: var(--white-text-color);
  margin-bottom: 24px;
}

.about__text {
  font-size: 16px;
  line-height: 1.37;
  font-weight: 400;
  color: var(--white-text-color);
  margin-bottom: 24px;
}

.about__btn {
  background-color: transparent;
  border: 1px solid var(--white-text-color);
  width: 146px;
  height: 54px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.about-btn__text {
  font-size: 16px;
  line-height: 1.37;
  font-weight: 400;
  color: var(--white-text-color);
}

.cases__container {
  padding: 56px 0 40px 0;
  text-align: center;
  justify-content: center;
}

.cases__description {
  font-size: 16px;
  line-height: 1.37;
  font-weight: 400;
  color: var(--black-text-color);
  margin-bottom: 16px;
}

.cases__title {
  font-size: 32px;
  line-height: 1.37;
  font-weight: 400;
  color: var(--black-text-color);
  margin-bottom: 24px;
}

.cases__text {
  font-size: 16px;
  line-height: 1.37;
  font-weight: 400;
  color: var(--black-text-color);
  margin-bottom: 31px;
}

.cases__gallery {
  display: flex;
  flex-direction: column;
}

.cases__item {
  margin-bottom: 8px;
  text-decoration: none;
  list-style: none;
}
.cases__item:last-child {
  margin-bottom: 0;
}

.cases__img {
  width: 280px;
  height: 176px;
}

.blog__img {
  width: 100%;
  height: 247px;
  padding: 0;
  margin-bottom: 0;
  display: inline-block;
}

.blog__container {
  background-color: var(--blue-bg-color);
  color: var(--white-text-color);
  padding: 48px 0 58px 0;
}

.blog__description {
  font-size: 16px;
  line-height: 1.37;
  font-weight: 400;
  color: var(--white-text-color);
  margin-bottom: 16px;
}

.blog__title {
  font-size: 32px;
  line-height: 1.37;
  font-weight: 400;
  color: var(--white-text-color);
  margin-bottom: 24px;
}

.blog__text {
  font-size: 16px;
  line-height: 1.37;
  font-weight: 400;
  color: var(--white-text-color);
  margin-bottom: 24px;
}

.blog__btn {
  background-color: transparent;
  border: 1px solid var(--white-text-color);
  width: 172px;
  height: 54px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.blog-btn__text {
  font-size: 16px;
  line-height: 1.37;
  font-weight: 400;
  color: var(--white-text-color);
}

.team__top {
  padding-top: 72px;
  text-align: center;
}

.team__bottom {
  padding-bottom: 50px;
  text-align: center;
}

.team__description {
  font-size: 16px;
  line-height: 1.37;
  font-weight: 400;
  color: var(--black-text-color);
  margin-bottom: 16px;
}

.team__title {
  font-size: 32px;
  line-height: 1.37;
  font-weight: 400;
  color: var(--black-text-color);
  margin-bottom: 24px;
}

.team__text {
  font-size: 16px;
  line-height: 1.37;
  font-weight: 400;
  color: var(--black-text-color);
  margin-bottom: 63px;
}

.team__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.team__item {
  margin-bottom: 30px;
}
.team__item:last-child {
  margin-bottom: 0;
}

.team-member__img {
  width: 280px;
  height: 186px;
}

.team-member__title {
  font-size: 27px;
  line-height: 1.35;
  font-weight: 400;
  color: var(--black-text-color);
  margin-top: 16px;
  margin-bottom: 8px;
  padding: 0;
}

.team-member__text {
  font-size: 16px;
  line-height: 1.37;
  font-weight: 400;
  color: var(--black-text-color);
  margin: 0;
  padding: 0;
}

.contact__img {
  width: 320px;
  height: 220px;
}

.contact-form__box {
  padding: 51px 0 25px 0;
  background-color: var(--contact-bg-color);
}

.contact-form__title {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black-text-color);
  margin-bottom: 69px;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.contact-form__input {
  width: 280px;
  height: 56px;
  background-color: var(--contact-form-bg-color);
  color: var(--contact-form-text-color);
  margin-bottom: 16px;
  padding: 16px 8px;
  outline: none;
  border: 1px solid var(--contact-form-border-color);
  border-radius: 5px;
}
.contact-form__input:last-child {
  margin-bottom: 24px;
}

.contact-form__btn {
  background-color: var(--green-btn-color);
  border: transparent;
  width: 155px;
  height: 57px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contact-form-btn__text {
  font-size: 18px;
  line-height: 1.38;
  font-weight: 400;
  color: var(--white-text-color);
}/*# sourceMappingURL=main.css.map */