:root {
  --white-text-color: #FFFFFF;
  --black-text-color: #333333;
  --hero-bg-mask-color: rgba(0, 0, 0, 0.4);
  --overlay-mask-color: rgba(0, 0, 0, 0.6);
  --white-overlay-color: rgba(225, 225, 225, 0.4);
  --green-text-color: #28A745;
  --green-btn-color: #28A745;
  --light-green-btn-color: #2EBF4F;
  --green-bg-color: #28A745;
  --blue-bg-color: #0284D0;
  --contact-bg-color: #F4F4F4;
  --contact-form-bg-color: #FFFFFF;
  --contact-form-text-color: #808080;
  --contact-form-border-color: #F5F5F5;
  --footer-bg-color:#333333;
  --warning-color: rgb(255, 160, 122);
}