.about-img__box{
    line-height: 0;
}

.about__img{
width: 320px;
height:220px;
}

.about__container{
    background: var(--green-bg-color);
    color: var(--white-text-color);
   padding: 79px 0;
}

.about__description {
    @include font (16px, 1.37, 400);
    color: var(--white-text-color);
    margin-bottom: 16px;
}

.about__title {
    @include font (32px, 1.37, 400);
    color: var(--white-text-color);
    margin-bottom: 24px;
}

.about__text{
    @include font (16px, 1.37, 400);
    color: var(--white-text-color);
    margin-bottom: 24px;
}

.about__btn {
 background-color: var(--green-bg-color);
 border: 1px solid var(--white-text-color);
 color: var(--white-text-color);
 width: 146px;
height: 54px;
border-radius: 5px;
cursor: pointer;
justify-content: center;
align-items: center;
display: flex;

 &:hover, &:focus{
    background-color: var(--white-text-color);
    border: 1px solid var(--white-text-color);
     color: var(--green-bg-color);
 }

}

.about-btn__text{
    @include font (16px, 1.37, 400);
}