.contact-img__box{
    line-height: 0;
}
.contact__img{
    width: 320px;
    height: 220px;
}

.contact-form__box{
    padding: 51px 0 25px 0;
    background-color: var(--contact-bg-color);
}

.contact-form__title{
    @include font(32px, 1.5, 400);
    color: var( --black-text-color);
    margin-top: 0;
    margin-bottom: 69px;
}
.contact__form{
    display: flex;
    flex-direction: column;
    position: relative;
}

.contact-form__input{
    width: 280px;
    height: 56px;
    background-color: var(--contact-form-bg-color);
    color: var(--contact-form-text-color);
    margin-bottom: 16px;
    padding: 16px 8px;
    outline: none;
    border: 1px solid var(--contact-form-border-color);
border-radius: 5px;

    &:last-child{
        margin-bottom: 24px;
    }
}


.contact-form__input:focus:invalid{
background: url("../../src/assets/images/form/worning.svg") no-repeat 95% 50% var( --warning-color);
background-size: 28px;
}

.contact-form__btn{
background-color: var(--green-btn-color);
 border: transparent;
width: 155px;
height: 57px;
border-radius: 5px;
cursor: pointer;
justify-content: center;
align-items: center;
display: flex;

&:hover, &:focus{
    background-color: var(--light-green-btn-color);
}
}

.contact-form-btn__text{
    @include font (18px, 1.38, 400);
    color: var(--white-text-color);
}

.contacts__warning{
    display: none;
}

@media screen and (min-width: 768px){
.contact__wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.contact__img{
    width: 368px;
height: 354px;
}
.container{
    width: 100%;
}
.contact-form__box{
    width: 768px;
    padding: 32px 0;
}
.contact-form__title{
    @include font(40px, 1.35, 400);
    margin-top: 0;
    margin-bottom: 24px;
}
.contact-form__input{
    width:100%;
}

}

@media screen and (min-width: 1360px){
.contact__wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}
.contact__img{
 width: 670px;
height: 454px;
}
.container{
    width: 100%;
}
.contact-form__box{
    width: 1360px;
    padding: 56px 0 77px 0;
}
.contact-form__title{
    @include font(40px, 1.35, 400);
    margin-top: 0;
    margin-bottom: 40px;
}

.contact-form__input{
    width:100%;
    margin-bottom: 24px;
    &:last-child{
        margin-bottom: 40px;
    }
}
}