.header__container{
    top: 0;
    position: fixed;
    background-color: transparent;
    height: 120px;
    width: 320px;
    display: flex;
    align-items: center;
    z-index: 100;
}

.header__nav {
    display: flex;
    flex-direction: column;
}
.header-nav__list{
    display: flex;
    text-decoration: none;
}

.header-nav__item{
    padding: 0;
    margin-right: 12px;
    display: block;
    border-bottom: 3px solid transparent;
    position: relative;

    &:last-child {
        margin-right: 0;
    }

    &:hover::after{
    width: 100%;
    }
}

.header-nav__item::after{
    content: "";
    height: 5px;
    width: 0%;
    background: var(--green-btn-color);
    border-radius: 5px;
    position: absolute;
    opacity: 0.8;
    bottom: 0;
}
.header-nav__link{
    text-decoration: none;
    color: var(--white-text-color);
}

.sticky {
 background-color: rgba(0,0,0, 0.8);
}

.header-nav-link__text{
     @include font(16px, 1.37em, 400);
    color: var(--white-text-color);
   text-decoration: none;
}

@media screen and (min-width: 768px){
.header__container{
    height: 70px;
    width: 768px;
    justify-content: space-between;
}
.header__nav {
    flex-direction: row;
    align-items: center;
justify-content: space-between;
}
.header-nav__item{
    margin-right: 20px;
}
.header-nav-link__text{
    @include font(18px, 1.38em, 400);
}
}

@media screen and (min-width: 1360px){
    .header__container{
    height: 70px;
    width: 1360px;
    justify-content: space-between;
}
.header__nav {
    flex-direction: row;
    align-items: center;
justify-content: space-between;
}
.header-nav__item{
    margin-right: 40px;
}
.header-nav-link__text{
    @include font(18px, 1.38em, 400);
}
}