.header__container{
    background-color: var(--hero-bg-mask-color);
    height: 120px;
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    flex-direction: column;
}

.header-nav__list{
    display: flex;
    text-decoration: none;
}

.header-nav__item{
     @include font(16px, 1.37em, 400);
    margin-right: 12px;
   color: var(--white-text-color);
   text-decoration: none;

    &:last-child {
        margin-right: 0;
    }

    &:hover,
  &:focus, &:visited {
    color: var(--white-text-color);
  }
}

.header-nav__link{
    text-decoration: none;
    color: var(--white-text-color);
}