.header__container{
    top: 0;
    position: fixed;
    background-color: transparent;
    height: 120px;
    width: 100%;
     display: flex;
    align-items: center;
    z-index: 100;
}

.header__nav {
    display: flex;
    flex-direction: column;
}

.header-nav__list{
    display: flex;
    text-decoration: none;
}

.header-nav__item{
    padding: 0;
    margin-right: 12px;
   

    &:last-child {
        margin-right: 0;
    }
}

.header-nav__link{
    text-decoration: none;
    color: var(--white-text-color);
}

.sticky {
 background-color: rgba(0,0,0, 0.8);
}

.header-nav-link__text{
     @include font(16px, 1.37em, 400);
    color: var(--white-text-color);
   text-decoration: none;

   &:hover, &:focus{
    text-decoration: underline var(--white-text-color);
   }
    
}