.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 38px;
    // transform: scale(0.95);

    &:hover, &:focus{
    transform: scale(1);

    .logo__img{
        fill: var(--light-green-btn-color);
    }
   }
}

.logo__img{
    width: 40px;
    height: 35px;
    margin-right: 8px;
   fill: var(--green-text-color);
}

.logo-green{
    @include font(28px, 1.28em, 400);
    color: var(--green-text-color);
    margin-right: 8px;
}

.logo-white {
    @include font(28px, 1.28em, 400);
    color: var(--white-text-color);
}

@media screen and (min-width: 768px){
.logo__img{
    margin-right: 10px;
}
.logo-green{
    @include font(35px, 1.37em, 400);
    margin-right: 0;
}
.logo-white{
    @include font(35px, 1.37em, 400);
}
}

@media screen and (min-width: 1360px){
.logo__img{
    margin-right: 4px;
}
.logo-green{
    @include font(35px, 1.37em, 400);
    margin-right: 4;
}
.logo-white{
    @include font(35px, 1.37em, 400);
}
}