.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 38px;
    margin-bottom: 16px;
}

.logo__img{
    width: 40px;
    height: 35px;
    margin-right: 8px;
}

.logo-green{
    @include font(28px, 1.28em, 400);
    color: var(--green-text-color);
    margin-right: 8px;
}

.logo-white {
    @include font(28px, 1.28em, 400);
    color: var(--white-text-color);
}
