.team__top {
    padding-top: 72px;
    text-align: center;
}
.team__bottom{
    padding-bottom: 50px;
     text-align: center;
}

.team__description{
    @include font (16px, 1.37, 400);
    color: var(--black-text-color);
    margin-bottom: 16px;
  
}
.team__title{
     @include font (32px, 1.37, 400);
    color: var(--black-text-color);
    margin-bottom: 24px;
}

.team__text{
     @include font (16px, 1.37, 400);
    color: var(--black-text-color);
    margin-bottom: 63px;
}

.team__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.team__item{
    margin-bottom: 30px;
    &:last-child{
        margin-bottom: 0;
    }
}

.team-member__img{
   width: 280px;
height: 186px;
}

.team-member__title{
    @include font (27px, 1.35, 400);
    color: var(--black-text-color);
    margin-top: 16px;
margin-bottom: 8px;
padding: 0;
}

.team-member__text{
    @include font (16px, 1.37, 400);
    color: var(--black-text-color);
    margin: 0;
    padding: 0;
}